* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.active{
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.width{
    width: 1000px;
    margin: auto;
}

.header-container{
    background-color: #792a52;
    padding: 30px;
    display: flex;
}

.header-container .width{
    display: flex;
    justify-content: center;
    color: #fdb9db;
    font-size: 25px;
}

.text-container{
    background-color: #792a52;
    padding: 30px;
    display: flex;
}

.text-container .width{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fdb9db;
}

.text1{
    font-size: 25px;
    font-weight: 700;
}

.text2{
    font-size: 20px;
}

.result-container{
    background-color: #430222;
    padding: 26px;
    display: flex;
}

.result-container .width{
    color: #fdb9db;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    font-size: 20px;
}

.sign-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computerSign,
.playerSign{
    font-size: 100px;
}

.choices-container{
    background-color: #202325;
    padding: 100px;
    display: flex;
}

.choices-container .width{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.rps {
    height: 200px;
    width: 200px;
    background-color: #d484ad;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #430222;
    font-size: 100px;
    user-select: none;
}

.rps:hover {
    background-color: #fdb9db;
}

.footer-container{
    background-color: #430222;
    padding: 30px;
    display: flex;
}

.footer-container .width{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdb9db;
}

.show-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 20%;
    background-color: #202325;
    color: #fdb9db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 25px;
    border-radius: 20px;
}

.hide-modal{
    display: none;
}

.prompt{
    font-size: 35px;
    font-weight: 800;
}

.playAgain{
    padding: 8px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #202325;
    background-color: #393e46;
    color: #fdb9db;
}

.playAgain:hover{
    background-color: #575c64;
}